*{
    box-sizing: border-box;
}

body{
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    background: url(images/bg-header-desktop.png) no-repeat center;
    padding: 40px;
    text-align: center;
}

#logo{
    width: 60px;
}

#comp-image{
    width: 40%;
}

.feature-section{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

.feature-list{
    list-style:none;
}

.feature-list li{
    margin-bottom: 30px;
    width: 50%;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero-section, .additional-section, .bottom-line{
    text-align: center;
    line-height: 28px;
    width: 550px;
    max-width: 900px;
    margin: auto;
    font-size: 16px;
}

#additional-image{
    width: 90%;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button{
    width: 30%;
    padding: 8px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 2px 1px rgb(170, 167, 167);
    color: white;
}

#ios{
    background-color: hsl(233, 100%, 69%);
}

#mac{
    background-color: hsl(171, 66%, 44%);
}

.intro{
    padding-bottom: 70px;
}

.hero{
    padding-bottom: 20px;
}

.product-section{
    margin: 20px;
}

.product-list {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .product-list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  
  .product-list li{
    width: 60%;
  }

  .sponsor-tags{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
  }

  .sponsor-tags img{
    width: 10%;
  }

  .footer{
    display: flex;
    align-items: center;
    background-color: grey;
    position: absolute;
    width: 100%;
    left: 0;
  }

  #logo-bottom{
    width: 30px;
  }

  .footer ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap:  20px;
  }

